.description {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #c5c0c0;
    margin-bottom: 1.5rem;
    text-align: left;
    padding: 1rem;
}

.description p {
    margin: 0;
    color: #555;
}